h2 denna ska inte vara kvar

h1 Välkommen in #{session[:username]}
h1
h3 

/ username = params[:username]
/   session[:username] = username



/ body{
/     background-image: url('http://i.stack.imgur.com/kx8MT.gif');
/     background-size: cover;
    
    
    
/     height: 100vh;
/     padding:0;
/     margin:0;
/ }

